<form method='post' enctype='multipart/form-data'>
    <input name='catwayNumber'><input name='catwayType'>
    <input name='catwayState'><input type='file' name='image'>
    <button>Create</button>
</form>