<form method='post'>
    <input name='catwayNumber'>
    <input name='clientName'>
    <input name='boatName'>
    <input name='startDate'>
    <input name='endDate'>
    <button>Create</button>
</form>